@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');

body {
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
    background: #000;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
}

.loading .loading_img {
    content: '';
    background: url(../images/loadingimg.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#header {
    background: #000;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
#nav {
    height: 70%;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.nav_inner{
    display: flex;
    width: 95%;
    height: 120px;
    margin: 0 auto;
}

#nav .header_menu {
    width: 85%;
    display: flex;
    line-height: 120px;
}
#nav .header_menu .logo{
    
}
.header_menu>.depth1 {
    width: 100%;
    display: flex;
}

.header_menu>.depth1>li {
    font-size: 1.3em;
    position: relative;
    margin-left: 100px;
}

.header_menu>.depth1>li>a {
    display: block;
}

.header_menu>.depth1>li:hover>a {
    color: #C2172D;
}
.header_menu>.depth1>li>.depth2{
    display: none;
    width: 50vw;
    position: absolute;
    top: 100%;
    left: 0;
}
.header_menu>.depth1>li>.depth2 li{
    margin-right: 50px;
}
.header_menu>.depth1>li:hover>.depth2{
    display: flex;
}
.header_menu>.depth1>li>.depth2 li:hover a{
    color: #C2172D;
}
#nav .sns {
    line-height: 120px;
}
#nav .sns a {
    font-size: 32px;
    margin-right: 30px;
}
#nav .sns a:last-child{
    margin-right: 0;
}
#nav .sns a i {
    transition: all 0.5s;
}

#nav .sns a:hover i {
    transform: scale(1.3);
}
#section{
    width: 100%;
}
.article1{
    position: relative;
}
.article1 > .article1_inner{
    position: absolute;
    top: 80%;
    left: 30%;
    display: flex;
}
.article1 #background{
    z-index: -1;
}
.article1 .article1_inner .schedule{
    background: #000;
    width: 400px;
    height: 500px;
    border-radius: 8px;
    border: 8px solid red;
    z-index: 9999;
    position: relative;
    margin-right: 50px;
}
.article1 .article1_inner .schedule p{
    padding: 50px 0 10px 30px;
    font-size: 1.2em;
}
.article1 .article1_inner .schedule h2{
    margin: 0 30px 0 30px;
    padding-bottom: 40px;
    font-size: 1.8em;
    color: #FB122F;
    border-bottom: 2px solid rgba(255,255,255,0.6);
}
.article1 .article1_inner .schedule .match_up{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.article1 .article1_inner .schedule .match_up img{
    width: 35%
}
.article1 .article1_inner .schedule .match_up .vs{
    width: 20%;
    height: 20%;
}
.article2 {
    max-width: 1500px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.article2 .players{
    border: 1px solid #fff;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}
.article2 .players a{
    padding: 30px 30px;
}
.article2 .inner-list {
    display: flex;
    transition: 0.5s ease-out;
    height: 100%;
}

.article2 .inner-list .inner {
    padding: 0 16px;
    position: relative;
}

.article2 .inner-list .inner img {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.article2 .inner-list .inner p {
    color: #fff;
    font-size: 2em;
    line-height: 2.5em;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.article2 .inner-list .inner p span{
    font-size: 2.5em;
}
.article2 .button-list {
    text-align: center;
    background: none;
}
.article2 .button-list .button-left, .button-list .button-right{
    background: none;
    color: #fff;
    font-size: 2.5em;
    cursor: pointer;
}
.article2 .button-list .button-left{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.article2 .button-list .button-right{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

/* 모바일 버전 */
@media screen and (max-width: 768px) {
	#header #nav .header_menu .depth1{
        display: none;
    }
    #header #nav .header_menu .logo{
        margin-left: 30px;
    }
    #header #nav .sns{
        display: none;
    }
    #header #nav .mobile{
        display: block;
    }
    .section1 .inner-list .inner img{
        width: 300px;
    }
    .section1 .button-list .button-left, .button-list .button-right{
        /* font-size: 1.5em; */
    }
    .section1 .inner-list .inner p{
        font-size: 1.5em;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
    }
    .section1 .players{
        top: 85%;
    }
}
